@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard';
}

/* 스크롤바 스타일링 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #E5E7EB transparent;
}